# Hypothesis testing
A case study of hypothesis testing in comparision of two fields of mobile prices

## Contents
1. Importing the database using pandas
2. Cleaning up the database
3. Finding the mean and the standard deviation
4. Hypothesis and alternative hypothesis
5. Finding confidence level
6. Conclusion

## Importing the database
We are using pandas to read two csv files named `inr_pricing.csv` and `usd_pricing.csv` these are two different statistical record accquired from [kaggle](https://www.kaggle.com/) to do the hypothesis testing.

In [34]:
import pandas as pd

df_in = pd.read_csv("datasets/inr_pricing.csv")
df_us = pd.read_csv("datasets/usd_pricing.csv")
print(df_in)
print(df_us)

      Unnamed: 0                            Name     Brand
0              0  OnePlus 7T Pro McLaren Edition   OnePlus  \
1              1                   Realme X2 Pro    Realme
2              2               iPhone 11 Pro Max     Apple
3              3                       iPhone 11     Apple
4              4                    LG G8X ThinQ        LG
...          ...                             ...       ...
1354        1354                   Intex Aqua A2     Intex
1355        1355     Videocon Infinium Z51 Nova+  Videocon
1356        1356                   Intex Aqua Y4     Intex
1357        1357                 iBall Andi4 B20     iBall
1358        1358             iBall Andi Avonte 5     iBall

                       Model  Battery capacity (mAh)  Screen size (inches)
0     7T Pro McLaren Edition                    4085                  6.67  \
1                     X2 Pro                    4000                  6.50
2          iPhone 11 Pro Max                    3969                  6.50
3                  iPhone 11                    3110                  6.10
4                  G8X ThinQ                    4000                  6.40
...                      ...                     ...                   ...
1354                 Aqua A2                    1500                  4.00
1355      Infinium Z51 Nova+                    2000                  5.00
1356                 Aqua Y4                    1700                  4.50
1357               Andi4 B20                    1250                  4.00
1358           Andi Avonte 5                    2150                  5.00

     Touchscreen  Resolution x  Resolution y  Processor  ...  Rear camera
0            Yes          1440          3120          8  ...         48.0  \
1            Yes          1080          2400          8  ...         64.0
2            Yes          1242          2688          6  ...         12.0
3            Yes           828          1792          6  ...         12.0
4            Yes          1080          2340          8  ...         12.0
...          ...           ...           ...        ...  ...          ...
1354         Yes           480           800          4  ...          5.0
1355         Yes           480           854          4  ...          8.0
1356         Yes           480           854          2  ...          5.0
1357         Yes           480           800          1  ...          2.0
1358         Yes           480           854          4  ...          8.0

      Front camera  Operating system  Wi-Fi Bluetooth  GPS Number of SIMs
0             16.0           Android    Yes       Yes  Yes              2  \
1             16.0           Android    Yes       Yes  Yes              2
2             12.0               iOS    Yes       Yes  Yes              2
3             12.0               iOS    Yes       Yes  Yes              2
4             32.0           Android    Yes       Yes  Yes              1
...            ...               ...    ...       ...  ...            ...
1354           0.3           Android    Yes       Yes  Yes              2
1355           5.0           Android    Yes       Yes  Yes              2
1356           2.0           Android    Yes       Yes   No              2
1357           0.3           Android    Yes       Yes  Yes              2
1358           0.0           Android    Yes       Yes  Yes              2

       3G  4G/ LTE   Price
0     Yes      Yes   58998
1     Yes      Yes   27999
2     Yes      Yes  106900
3     Yes      Yes   62900
4      No       No   49990
...   ...      ...     ...
1354  Yes       No    2599
1355  Yes       No    2940
1356  Yes       No    2999
1357  Yes       No    2498
1358  Yes       No    3999

[1359 rows x 22 columns]
       Brand              Model Storage    RAM  Screen Size (inches)
0      Apple      iPhone 13 Pro   128 GB   6 GB                  6.1  \
1    Samsung   Galaxy S21 Ultra   256 GB  12 GB                  6.8
2    OnePlus              9 Pro   128 GB   8 GB                  6.7
3     Xiaomi  Redmi Note 10 Pro   128 GB   6 GB                 6.67
4     Google            Pixel 6   128 GB   8 GB                  6.4
..       ...                ...      ...    ...                  ...
402  Samsung   Galaxy Note20 5G      128      8                  6.7
403   Xiaomi      Mi 10 Lite 5G      128      6                 6.57
404    Apple  iPhone 12 Pro Max      128      6                  6.7
405     Oppo              Reno3      128      8                  6.4
406  Samsung    Galaxy S10 Lite      128      6                  6.7

            Camera (MP)  Battery Capacity (mAh) Price
0          12 + 12 + 12                    3095   999
1    108 + 10 + 10 + 12                    5000  1199
2       48 + 50 + 8 + 2                    4500   899
3        64 + 8 + 5 + 2                    5020   279
4             50 + 12.2                    4614   799
..                  ...                     ...   ...
402            12+64+12                    4300  1049
403            48+8+2+2                    4160   349
404            12+12+12                    3687  1099
405           48+13+8+2                    4025   429
406             48+12+5                    4500   649

[407 rows x 8 columns]

## Cleaing up the database
There are many rows in both the database, but mainly we are comparing only the price so we will sort out the price for the two databases. We have changed the row name for the raw data for the US database, since it will be easier to understand. Notice that we only need integers in the analysis of the database, since some values in the US dataframe contain the **$** sign we need to remove it from the dataframe.

In [50]:
# working with the base  database
price_in = df_in["Price"].to_frame()
price_us = df_us["Price"].to_frame()
# stripping the $ and ,sign from us database
price_us = price_us["Price"].str.replace('$,', "").to_frame()
# print(price_in)
print(price_us)

    Price
0     999
1    1199
2     899
3     279
4     799
..    ...
402  1049
403   349
404  1099
405   429
406   649

[407 rows x 1 columns]

## Finding the mean and standard deviation
Now we have cleaned up the database to only show the pricing for both the markets we need to find the mean and standard deviation for both the databases. For this a function is already bundled with pandas to find the mean and standard deviation.

In [49]:
# finding mean
mean_in = price_in["Price"].mean()
mean_us = price_us["Price"].mean()
'''
# finding standard deviaiton
sd_in = price_in["Price"].std()
sd_us = price_us["Price"].std()

'''
# printing the values
# print(f"The mean of Indian market is ₹{round(mean_in, 2)} and the mean of US market is")
print(f"The mean of Indian market is ₹{round(mean_in, 2)} and the mean of US market is ${round(mean_us, 2)}")
# print(f"The SD of Indian market is ₹{sd_in} and the SD of US market is ${sd_us}.")

TypeError: Could not convert 9991199899279799799999249699119932944932969911993297991992993791792792497292795991392991391894491793992592791592293991994991591291893995296993691991591791891099169994592391991299249429659199399269239449359229499179169239329369599799139$799 $799 $399 $699 $329 $399 $999 $699 $699 $549 $1,299 $999 $899 $399 $449 $319 $269 $349 $269 $279 $249 $349 $699 $699 $299 $999 $969 $1,199 $149 $139 $99 $699 $99 $199 $169 $999 $499 $399 $799 $179 $219 $249 $149 $199 $279 $179 $899 $269 $229 $399 $239 $149 $279 $329 $149 $549 $449 $279 $199 $399 $179 $399 $109 $219 $149 $299 $279 $149 $189 $169 $389 $1,199 $299 $219 $299 $149 $249 $219 $249 $179 $299 $309 $179 $369 $349 $499 $199 $229 $299 $129 $449 $499 $279 $399 $849 $279 $299 $249 $149 $199 $469 $329 $279 $369 $269 $329 $299 $299 $239 $329 $149 $189 $449 $399 $249 $189 $209 $199 $299 $329 $249 $149 $119 $219 $279 $299 $269 $339 $299 $319 $279 $429 $269 $199 $159 $179 $299 $149 $169 $99 $149 $139 $279 $219 $149 $429 $279 $379 $149 $169 $329 $179 $329 $449 $399 $289 $149 $449 $199 $179 $229 $209 $139 $99 $199 $549 $239 $299 $199 $249 $279 $149 $469 $99 $249 $199 $249 $249 $319 $179 $279 $349 $219 $149 $99 $119 $169 $139 $159 $289 $199 $199 $179 130$199 $249 $99 $129 $149 $129 $139 $229 $179 $139 $159 $179 $199 $189 $129 $229 $279 12993992496991199299449599499109974919949969944974914979915929959911992798991099969299799179179799229399699649999349599699419199399109924969939944979917927910992792493999996996992492796992492293299993994994494991793991991994491399109999917917979913992298991997292291999599799999699139449119279299199999329329799749199699349119974919929959914944931932932910493491099429649 to numeric